<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav [opened]="!($mobileView | async)" [mode]="($mobileView | async)? 'over' : 'side'"
               class="mat-elevation-z2">
    <mat-toolbar>
      <mat-icon mat-list-icon>donut_large</mat-icon>
      <span class="title">{{title}}</span>
    </mat-toolbar>
    <mat-nav-list>
      <!--<h3 mat-subheader>Action</h3>-->
      <a routerLink="/transactions" routerLinkActive="active">
        <mat-list-item>
          <mat-icon mat-list-icon>view_list</mat-icon>
          <h4 mat-line>Transactions</h4>
          <mat-hint mat-line>All Transactions</mat-hint>
        </mat-list-item>
      </a>
      <!--<a routerLink="/statements" routerLinkActive="active">-->
      <!--<mat-list-item>-->
      <!--<mat-icon mat-list-icon>library_books</mat-icon>-->
      <!--<h4 mat-line>Statements</h4>-->
      <!--<mat-hint mat-line>CSV Statements</mat-hint>-->
      <!--</mat-list-item>-->
      <!--</a>-->
      <mat-divider></mat-divider>
      <!--<h3 mat-subheader>Settings</h3>-->
      <!--<mat-list-item>-->
      <!--<mat-icon mat-list-icon>note</mat-icon>-->
      <!--<h4 mat-line>Local Settings</h4>-->
      <!--<mat-hint mat-line>settings</mat-hint>-->
      <!--</mat-list-item>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z1 fixed-header">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" *ngIf="$mobileView | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span fxFlex></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
