mat-drawer {
  width: 17em;
}

@media only screen and (min-width: 600px) {
  mat-drawer {
    width: 20em;
  }
}

@media only screen and (max-width: 600px) {
  mat-table {
    height: 28em !important;
  }

  mat-cell {
    font-size: 12px !important;
  }
}

mat-drawer-container {
  height: 100%;
  margin-top: 0.1em;
}

mat-toolbar {
  /*background: #fff;*/
}

mat-table {
  margin: 0.5em;
  height: 35em;
  overflow: auto;
}

mat-form-field.mat-form-field {
  font-size: 16px;
  width: 100%;
}

mat-row {
  cursor: pointer;
}

.mat-slider-thumb-label {
  width: 35px;
  height: 35px;
}

.cell-description-text {
  text-overflow: ellipsis;
  overflow: hidden;
  /*white-space: nowrap;*/
  /*width: 100%;*/
  font-weight: bold;
}

mat-chip {
  font-size: 12px;
  line-height: 0.8em;
}
