<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" class="form">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="label.name" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of label.tags" [selectable]="selectable"
                [removable]="removable" (removed)="removeTag(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Tags* ..." required
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
    <mat-hint>Type the tags and separate with comma or Enter</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">CANCEL</button>
  <button mat-button [mat-dialog-close]="label" [disabled]="!(allowSubmit$ | async)">SUBMIT</button>
</div>
